@import url('https://fonts.googleapis.com/css?family=League+Spartan');

/*Colors*/

/*Primary*/
$VeryDarkMagenta: hsl(300, 43%, 22%);
$SoftPink: hsl(333, 80%, 67%);

/*Neutral*/
$DarkGrayishMagenta: hsl(303, 10%, 53%);
$LightGrayishMagenta: hsl(300, 24%, 96%);

$FontWeightLite:400;
$FontWeightMedium:500;
$FontWeightLarge:700;

$BorderRadius:8px;
$MaxWidth:892px;
$MaxHeight:510px;

$MediaBreakPoint:701px;