@import '../../AllComponentStyles.scss';

.rating-container {
	justify-self: center;
	background-color: $LightGrayishMagenta;

	text-align: center;

	width: 92%;
}

.star-icon {
	color: orange;
	margin: 6px 4px 0px 0px;
}

.rating-statement {
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	color: $VeryDarkMagenta;
	font-weight: $FontWeightLarge;
}

@media screen and (min-width:$MediaBreakPoint) {
	.rating-container {
		width: 68%;
		height: 40px;
	}

	.rating-statement {
		display: inline;
		margin-left: 20px;
		margin-bottom: 24px;
	}

	.ratings-top {
		margin-left: 16px;
		justify-self: start;
	}

	.ratings-bottom {
		margin-right: 16px;
		justify-self: end;
	}

	.star-icon {
		margin-top: 12px;
	}
}